.root {
    -fx-font-size: 16px;
    -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -fx-base: linear-gradient(to top, #E84B3D, #F68F27);
    -fx-background: #282828;
    -fx-mark-color: linear-gradient(to top, #E84B3D, #F68F27);
    -fx-mark-highlight-color: linear-gradient(to top, #E84B3D, #F68F27);
}

.button {
    -fx-background-color: linear-gradient(to top, #E84B3D, #F68F27);
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.button:hover {
    -fx-background-color: linear-gradient(to top, #c64337, #c0701f);
}

.button:pressed {
    -fx-background-color: linear-gradient(to top, #9c312a, #8b4f16);
}

.icon-button {
    -fx-background-color: transparent;
    -fx-text-fill: linear-gradient(to top, #E84B3D, #F68F27);
    -fx-border-color: transparent;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.close-button:hover {
    -fx-background-color: #d00f0f;
}

.control-bar {
    -fx-background-color: #222020;
    -fx-border-color: #383838;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.close-button:pressed {
    -fx-background-color: #b00d0d;
}

.label, .header-text.label, .menu, .choice-box .label, .choice-box .cell, .choice-box .menu-item, .check-box {
    -fx-text-fill: linear-gradient(to top, #E84B3D, #F68F27);
}

.info-label {
    -fx-text-fill: #282828;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0, 0, 0, 1);
}

.spicetify-label {
    -fx-font-size: 14px;
    -fx-text-fill: #403c3c;
}

.text-field, .choice-box {
    -fx-background-color: #383838;
    -fx-border-color: linear-gradient(to top, #E84B3D, #F68F27);
    -fx-border-radius: 4;
}

.check-box .box {
    -fx-border-color: linear-gradient(to top, #E84B3D, #F68F27);
}

.context-menu,
.menu-up-arrow,
.menu-down-arrow,
.check-box > .box,
.check-box:focused > .box {
    -fx-background-color: #282828;
}

.choice-box > .open-button > .arrow,
.check-box:selected > .box > .mark {
    -fx-background-color: linear-gradient(to top, #E84B3D, #F68F27);
}

.choice-box .menu-item:hover {
    -fx-background-color: rgba(232, 75, 61, 0.5);
}

.progress-bar {
    -fx-accent: #E84B3D;
    -fx-control-inner-background: #383838;
    -fx-progress-color: #E84B3D;
}

.loading-spinner {
    -fx-progress-color: #E84B3D;
}