.root {
    -fx-font-size: 14px;
    -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -fx-base: #ffffff;
    -fx-background: #f0f0f0;
}

.button {
    -fx-background-color: #007aff;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #c7c7cc;
    -fx-border-radius: 4;
}

.label {
    -fx-text-fill: #000000;
}

.header-text.label {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #000000;
    -fx-padding: 10;
}

.menu-bar {
    -fx-background-color: #f8f8f7;
}

.menu {
    -fx-text-fill: #007aff;
}

.progress-bar {
    -fx-accent: #007aff; /* Set the progress bar color */
}

.choice-box {
    -fx-background-color: white;
    -fx-border-color: #c7c7cc;
    -fx-border-radius: 4;
    -fx-padding: 5;
}

.choice-box .label {
    -fx-text-fill: #000000;
}

.check-box {
    -fx-text-fill: #000000;
}

.check-box .box {
    -fx-border-color: #007aff;
}

