.root {
    -fx-font-size: 14px;
    -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -fx-base: #ff8c00; /* Dark orange */
    -fx-background: #282828; /* Dark grey */
}

.button {
    -fx-background-color: #ff8c00; /* Dark orange */
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.button:hover {
    -fx-background-color: #e67300; /* Darker orange */
}

.button:pressed {
    -fx-background-color: #cc6600; /* Even darker orange */
}

.icon-button {
    -fx-background-color: transparent;
    -fx-text-fill: #ff8c00; /* Dark orange */
    -fx-border-color: transparent;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.icon-button:hover {
    -fx-background-color: #e67300; /* Darker orange */
}

.icon-button:pressed {
    -fx-background-color: #cc6600; /* Even darker orange */
}

.close-button:hover {
    -fx-background-color: #d00f0f;
}

.close-button:pressed {
    -fx-background-color: #b00d0d;
}

.text-field {
    -fx-background-color: #383838; /* Darker grey */
    -fx-border-color: #ff8c00; /* Dark orange */
    -fx-border-radius: 4;
}

.label {
    -fx-text-fill: #ff8c00; /* Dark orange */
}

.header-text.label {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #ff8c00; /* Dark orange */
    -fx-padding: 10;
}

.menu-bar {
    -fx-background-color: #282828; /* Dark grey */
}

.menu {
    -fx-text-fill: #ff8c00; /* Dark orange */
}

.progress-bar {
    -fx-accent: #ff8c00; /* Dark orange */
    -fx-control-inner-background: #383838; /* Darker grey */
    -fx-progress-color: #ff4500; /* Orange red */
}

.choice-box {
    -fx-background-color: #383838; /* Darker grey */
    -fx-border-color: #ff8c00; /* Dark orange */
    -fx-border-radius: 4;
    -fx-padding: 5;
    -fx-text-fill: #ff8c00; /* Dark orange */
}

.choice-box .label {
    -fx-text-fill: #ff8c00; /* Dark orange */
}

.choice-box .cell {
    -fx-text-fill: #ff8c00; /* Dark orange */
    -fx-background-color: #383838; /* Darker grey */
}

.choice-box .cell:hover {
    -fx-background-color: #282828; /* Dark grey */
}

.choice-box .menu-item {
    -fx-text-fill: #ff8c00; /* Dark orange */
    -fx-background-color: #383838; /* Darker grey */
}

.choice-box .menu-item:hover {
    -fx-background-color: #282828; /* Dark grey */
}

.check-box {
    -fx-text-fill: #ff8c00; /* Dark orange */
}

.check-box .box {
    -fx-border-color: #ff8c00; /* Dark orange */
}